@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{background-image: linear-gradient(0deg, #b4b4b4,#ffffff);
    background-attachment: fixed;
     color: rgb(0, 0, 0); 
     font: normal 18pt;}
     main{
        background-color: white;
        width: 600px;
        padding: 3px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 2px 2px 15px #5c5c5c;
      }
    h1{color: #812F33;
       text-align: center;
       text-shadow: 1px 1px 4px #812f33a9;
    }

    li{color:#705E78;
       text-shadow: 1px 1px 4px #9a80a5d3;
    }