@charset "UTF-8";

body{
    text-align: justify;
    font: normal 14pt arial;
    background-color: rgb(219, 219, 219);
    }
h1{
   color: blue;
   background-color: rgb(35, 102, 226);
   }
h2{
   color: cornflowerblue;
   }
p{
   color: rgb(0, 63, 63);
   }
   a.links1{text-decoration: none;}